/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/accommodations/accommodations.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .accommodations__area {
    padding: 10px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .accommodations {
    flex-direction: column !important;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/scroll-to-top/scrollToTop.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.scrollToTopButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #b89146;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  z-index: 99;
}

